/* styles.css */

/* Custom styles for the Chuck Norris Facts page */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    color: #343a40;
    text-align: center;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  }
  
  #factContainer {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #factContainer p {
    font-size: 20px;
    color: #495057;
  }
  
  button {
    display: block;
    margin: 0 auto;
  }
  
  #factImage {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
  }
  